[data-md-color-scheme=slate] .md-typeset figure {
    opacity: 0.75;
}

figure.fig-center {
    max-width: 450px;
    height: auto;
    margin: 2.5em auto 1.5em;
}


figure.fig-left{
    max-width: max(50%, 300px);
    float: left;
    padding: 1.5em 1.5em;
}

figure.fig-right{
    max-width: max(50%, 300px);
    float: right;
    padding: 1.5em 1.5em;
}

.md-typeset figcaption {
    margin: 0.5em auto 0;
    opacity: 90%;
}
