[data-md-color-primary=white]{
    --md-footer-fg-color: #333;
    --md-footer-fg-color--light: hsla(0,0%,0%,0.9);
    --md-footer-fg-color--lighter: hsla(0,0%,0%,0.5);
    
    --md-footer-bg-color: hsla(0,0%,95%,1);
    --md-footer-bg-color--dark: hsla(0,0%,88%,1);
}

.MathJax_Preview{
    display: none;
}
