/* [data-md-color-scheme="slate"] { */
/*     --md-default-bg-color: #17181f; */
/* } */
::selection{
    background-color: #73d3ff99;
}
[data-md-color-scheme=slate] ::selection{
    background-color: #73d3ff70;
    /* background-color: #7c4dff99; */
}

[data-md-color-scheme=slate] {
    background-color: hsla(var(--md-hue),15%,15%,1);
}
[data-md-color-scheme=slate][data-md-color-primary=black]{
    --md-typeset-a-color: #73d3ff;
    --md-footer-bg-color: hsla(var(--md-hue),15%,10%,1);
    --md-footer-bg-color--dark: hsla(var(--md-hue),15%,5%,1);
}
[data-md-color-primary=black] .md-header{
    background-color: #17181f;
    background-color: hsla(var(--md-hue),15%,5%,1);
    /* border-bottom: 1.5px solid #7c4dff; */
}
[data-md-color-primary=black] .md-tabs{
    background-color: #1c1d26;
    background-color: hsla(var(--md-hue),15%,10%,1);
    /* border-bottom: 1.5px solid #7c4dff; */
}
[data-md-color-primary=white]{
    --md-typeset-a-color: #006cfa;
    --md-footer-fg-color: #333;
    --md-footer-fg-color--light: hsla(0,0%,0%,0.9);
    --md-footer-fg-color--lighter: hsla(0,0%,0%,0.5);
    
    --md-footer-bg-color: hsla(0,0%,96%,1);
    --md-footer-bg-color--dark: hsla(0,0%,90%,1);
}
.md-typeset .admonition, .md-typeset details {
    font-size: .75rem;
}

.md-typeset h1 {
    margin-bottom: 0.75em;
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--md-default-fg-color);
}

.md-typeset h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1.5em;
}
.md-typeset h3 {
    font-size: 1.1rem;
    margin-bottom: -0.5em;
}
.md-header__title {
    font-size: 1.2rem;
}
.md-header[data-md-state=shadow] {
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 4%),
                0 0.2rem 0.4rem rgb(0 0 0 / 8%);
}
.MathJax_Preview{
    display: none;
}


