.center {
    display: block;
    max-width: 75%;
    height: auto;
    margin: auto;
    float: none!important;
}

.float-left{
    float: left;
    padding: 1.5em 1.5em;
}

.float-right{
    float: right;
    padding: 1.5em 1.5em;
}

img + em {
    font-style: italics;
    display: inherit;
    text-align: center;
    font-size: 90%;
    opacity: 80%;
    padding: 10px;
}
